body{
    margin: 0;
    height: 100%;
}
#container{
    display: flex;
}
#side-image{
    flex: 1;
    display: flex;
    max-width: 30%;
    height: 100vh;background-color: aqua;
    background-image: url(./images/mike-bacos-8FshqIxvoUY-unsplash.jpg);

}
#side-image footer{
    align-self: self-end;
    margin: 10px;
    color: white;
}

#side-panel{
    border: 3px solid red;
    max-width: 400px;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 10px;
    /* width: 60%; */
}
#side-panel p:first-child{
    color: rebeccapurple;
    /* align-self: self-start; */
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 80%; */
    padding: 30px;
    /* justify-content: space-between; */
}
form div{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    padding: 10px;
}
.columna{
    /* flex-basis: 50%; */
}