body{
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
}
#container{
    display: flex;
    
    background-color: white;
}
#leftPanel{
    /* display: flex; */
    background-color: aquamarine;
    background-image: url(./images/yohann-mourre-hds60mCxbPg-unsplash.jpg);
    width:625px; 
    height: 100vh;
    

}
#rightPanel{
    display: flex;
    flex-direction: column;
   /* min-width: 60%; */
   max-width: 60vw;
   /* border: 2px solid red; */
   padding-top: 100px;
   /* padding-right: 100px; */
   /* align-items: center; */
    padding-left: 50px;
}
form{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    gap: 21px;
}
form>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#rightPanel p:first-child{
    font-weight: bold;
    font-size: 28px;
}
#rightPanel p{
font-size: 24px;
}
#btn{
    padding-top: 20px;

}
button{
    font-size: 18px;
    background-color: blanchedalmond;
    padding: 11px;
}